<%- include('partials/header') %>

<%- include('partials/adminNav') %>

<% if (locals.error) {%>
<div class="alert alert-danger" role="alert">
  <%= error %>
</div>
<%}%>

  <% if (locals.validate) {%>
<div class="alert alert-success" role="alert">
  <%=validate %>
</div>
<%}%>

  <form class="" method="POST" action="/admin/update">
    <br>
    <p>
      <label class="form-label h4">Level à modifier</label>
      <select class="form-control mb-4" name="levelId">
        <% for( let level of allLevels) {%>
<option value="<%=level.id%>"><%=level.name%></option>
<%}%> 
      </select>
      <label class="form-label h4" for="level">Nouveau nom pour le level sélectionné</label>
      <input class="form-control" type="text" id="level" name="levelName">
    </p>
    <p>
      <button class="btn btn-primary d-block my-4 mx-auto">Mettre à jour</button>
    </p>
  </form>

</main>

<%- include('partials/footer') %>